button {
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 0;
    }
}

.padding5 {
    padding: 5px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.text-uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.clickable-text {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }   
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.whiteText {
    color: white;
}