$theme-dark: #626c84;
$theme-light: #b6bcc9;
$theme-white: #f0f2f4;

//Nav bar
$navbar-default-bg: $theme-dark;
$navbar-default-color: $theme-white;
$navbar-default-link-color: $theme-white;
$navbar-default-brand-color: $theme-white;

//Jumbotron
$jumbotron-bg: $theme-white;
$jumbotron-font-size: 1em;
$jumbotron-heading-font-size: 2em;
$jumbotron-padding: 15px;