@import "public/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import 'public/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'css/_fonts';
@import 'css/_helpers';

body {
    font-family: 'Merriweather Light';
    font-size: 14px;
    padding-top: 51px;
    @media (max-width: $screen-xs-max) {
    	font-size: 10px;
    }
}

@media print {
	.hideOnPrint {
		display: none;
	}
	a:link:after, a:visited:after {
	    content: "";
	}
}	

button {
	outline: none !important;	
}