@import "public/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import 'public/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'css/_fonts';
@import 'css/_helpers';

body {
    font-family: 'Merriweather Light';
    padding-top: 70px;
}