<div id="hoodMapperBlog" class="blogPost">
<p> 
	One day in September I found myself with an unexpectedly free night. With nothing to do, I decided to build something to put on my site and do it using a new tool. What I built was HoodMapper, a page that allows you to build a custom map with markers that you can then share with others. My plan now is to document why I chose this project, what technologies I used and why, what I learned, and what I would change about HoodMapper given more time to work on it.
</p>
<p>
	<ol>
		<li> 
			<div class="header"> Why HoodMapper? </div>
			<div class="body">
				<p> 
					I knew that with less than six hours available to me I wouldn't be able to build anything grand. However, you can skip a lot of steps in a project if you can utilize a great open-source library that can handle a lot of the work for you. I try to keep track of cool/useful libraries as I come across them, even if they aren't immediately useful for my purposes. One that I had taken note of in the past was <a target="_blank" href="http://leafletjs.com/">Leaflet</a>, a JavaScript library for interactive maps. It seemed pretty easy to use and came with lots of cool features. The feature that I decided to take advantage of for HoodMapper is Leaflet's customizable popup. You can see an example of this right on their home page where there is a marker with a popup saying "A pretty CSS3 popup. Easily customizable." This ability to drop markers and customize popups is what I decided to utilize.
				</p>
				<p>
					At the root of the question "Why HoodMapper?" is a more blunt question: Why would anyone care about HoodMapper? This is a product question, not an engineering question. Yes, I had a cool library available to me, but that doesn't mean it is worth spending time just to learn how to use the library. I wanted HoodMapper to have use. If not in this version, at least in some potential future iteration. The idea I came up with is simple: allow users to create and share a map that contains meaningful or important information for them. Nowadays you can use Google and Yelp to find all the highest rated places to eat in a neighborhood, but what if you wanted to share a map of the places you've eaten with a friend? I don't know of a product that makes that easy, so HoodMapper is designed to meet that need.
				</p>
			</div>
		</li>
		<li> 
			<div class="header"> Technologies </div>
			<div class="body">
				<ul>
					<li>
						<a target="_blank" href="http://leafletjs.com/">Leaflet</a>
						<div>
							I've described Leaflet above, but it really is a cool library for working with maps. I haven't tried to do anything that complex, but it worked pretty well for my purposes. I did have to do some hacky workarounds that were not obvious from the documentation, but I had a good enough of an experience to recommend Leaflet.
						</div>
					</li>
					<li>
						<a target="_blank" href="https://angularjs.org/">AngularJS</a>
						<div>
							This is an awesome framework for JavaScript development. It's separation of the Model and View as part of the MVW (Model-View-Whatever) framework is excellent. I hate seeing HTML in my JavaScript, as it makes it hard to develop for style and easy to mess things up. It also makes your JavaScript really hard to read. I've seen 10,000+ line files due to all of the HTML inside of it! Angular's two-way data binding is also pretty excellent, and is leveraged in HoodMapper. But the real reason I chose Angular is that it's what I'm best at. With only one night to work I couldn't afford to move forward with a framework that I was less familiar with. 
						</div>
					</li>
					<li>
						<a target="_blank" href="http://tombatossals.github.io/angular-leaflet-directive/#!/">angular-leaflet-directive</a>
						<div>
							One issue with AngularJS is that it does make it hard to use other libraries. In order to integrate into your AngularJS and be done "the Angular way" everything really needs to be presented as a directive. Luckily, the Angular ecosystem is really large, so you can almost always find a wrapper for your library out there already. I found this wrapper, and it worked great.
						</div>
					</li>
					<li>
						<a target="_blank" href="https://lodash.com/">Lodash</a>
						<div>
							This is probably my favorite of all the JavaScript libraries, frameworks, etc. It handles all the basic coding problems that you really shouldn't have to worry about: browser differences, looping, filtering, etc. I also love that it turns JavaScript into a more functional language by adding map, reduce, curry, etc. I love Functional Programming, so having those abilities in JavaScript is very nice. Lodash does so many other useful things as well that I can't possibly do it justice here. Suffice it to say that it is the utility library that I find myself needing for every project I work on. 
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li> 
			<div class="header"> What I learned </div>
			<div class="body">
				<p> 
					The first thing that I learned is that this is not that hard of a problem to solve. I like my solution, and it was made in only 6 hours! If someone were to dedicate a serious amount of time to this problem I bet we could have a really excellent interactive map tool.
				</p>
				<p>
					I also learned about the complexities of mapping. There is so much that you can do with a map, and Leaflet tries to support a lot of mapping features. But the reality is that I only needed a small number of features. If I were to try to make HoodMapper a legitimate tool I think I would start with a simpler library and build my own features out so that it could be perfectly tailored to my needs.
				</p>
				
				<p>
					Finally, I learned that Hackathons are not for me. After a full day of work, spending six hours coding was not great for me. I was pretty much done four hours in, but by that time my brain was pretty fried and it took a lot longer to solve the final problems than it should have. Hackathons do not bring out my best programming skills, but this was still a fun project.
				</p>
			</div>
		</li>
		<li> 
			<div class="header"> What I would change </div>
			<div class="body">
				<ul>
					<li>
						JavaScript framework
						<div>
							I chose AngularJS because I'm familiar with it and knew it could get the job done. However, for a simple one page app like this I think it's probably overkill. I would probably try a more lightweight framework like <a target="_blank" href="https://facebook.github.io/react/">React</a> or <a target="_blank" href="https://vuejs.org/">vue.js</a>.
						</div>
					</li>
					<li>
						Search
						<div>
							The worst part about HoodMapper right now is that you start off with a world map and have to zoom in on the area you want to cover. It's a long process of zooming to get to the neighborhood level. Being able to input an address, city, etc. and go directly to that would be great - and necessary if anyone was to actually use HoodMapper. 
						</div>
					</li>
					<li>
						Marker Types
						<div>
							I'd like it if a user could create different types of markers that could be color-coded to their type: red for restaraunts, blue for stores, etc. Then the user should be able to show/hide all markers of a given type. This would be great for a map that can contain different type of information without causing information overload. 
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ol>
</p>
<div class="margin-top-20">

</div>
</div>