<!doctype html>
<html>

<head>
    <title><%- index.pageTitle %></title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="p27_F91aoYVfZYZYoxd7zvNRv1PWwM_e8h4PIX40PZE" />
    <!-- build:css styles/index-style.css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- endbuild -->

    <!-- build:js scripts/index-vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/index-scripts.js -->
    <script src="/js/index.js"></script>
    <!-- endbuild -->

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" >
</head>

<body>
  <%= partials.navbar %>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="jumbotron">
          <h1><%- index.jumbotron.title %></h1>
          <p> <%- index.jumbotron.body %> </p>
        </div>
      </div>
      <div class="col-sm-5">
        <% _.forEach(index.sideBarItems, function(sideBarItem) { %>
        <div class="jumbotron jumbotron-sm <%- sideBarItem.class %>">
          <h1><%- sideBarItem.title %></h1>
          <p> <%= sideBarItem.body %> </p>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</body>

</html>
