<!doctype html>
<html>

<head>
    <title><%- resume.pageTitle %></title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- build:css styles/resume-style.css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/resume.css">
    <!-- endbuild -->

    <!-- build:js scripts/resume-vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/resume-scripts.js -->
    <!-- endbuild -->

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" >
</head>

<body>
  <%= partials.navbar %>
  <div class="container-fluid">
  <div>
    <div class="row header margin-top-20">
      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="name">
          <%- resume.name %>
        </div>
        <div class="title">
          <%- resume.title %>
        </div>
        <div>
          email: <a href="mailto:<%- resume.email %>"> <%- resume.email %> </a>
        </div>
        <div>
          website: <a href="<%- resume.website %>"> <%- resume.website %> </a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-6 col-md-8 hideOnPrint">
        <img src="<%- resume.headShot %>" alt="head shot" class="headshot"/>
      </div>
    </div>  

    <div class="row body">
      <div class="col-sm-4">
        <div class="section">
          <div class="sectionHeader">
            About Me
          </div>
          <div class="sectionBody">
            <%- resume.aboutMe %>
          </div>
        </div>
        <div class="section">
          <div class="sectionHeader">
            Skills
          </div>
          <div class="sectionBody">
            <div class="row">
              <% _.forEach(resume.skills, function(skill) { %>
              <div class="col-sm-6 col-xs-3"> &#8226; <%- skill %> </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="section">
          <div class="sectionHeader">
            Experience
          </div>
          <div class="sectionBody experienceList">
            <% _.forEach(resume.experience, function(job) { %>
            <div class="experienceItem">
              <div>
                <div class="institution header"> 
                  <%- job.company %> 
                </div>
                <div class="location header"> 
                  <%- job.location %> 
                </div>
              </div>  
              <div>
                <div class="title header"> 
                  <%- job.title %> 
                </div>
                <div class="dates header"> 
                  <%- job.dates %> 
                </div>
              </div>
              <ul class="margin-top-5">
                <% _.forEach(job.items, function(item) { %>
                <li>
                  <%- item %> 
                </li>
                <% }); %> 
              </ul>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="section">
          <div class="sectionHeader">
            Education
          </div>
           <div class="sectionBody experienceList">
            <% _.forEach(resume.education, function(school) { %>
            <div class="experienceItem">
              <div>
                <div class="institution header"> 
                  <%- school.name %> 
                </div>
                <div class="location header"> 
                  <%- school.location %> 
                </div>
              </div>  
              <div>
                <div class="title header"> 
                  <%- school.degree %> 
                </div>
                <div class="dates header"> 
                  <%- school.date %> 
                </div>
              </div>
              <ul class="margin-top-5">
                <% _.forEach(school.items, function(item) { %>
                <li>
                  <%= item %> 
                </li>
                <% }); %> 
              </ul>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
</body>

</html>
