<!doctype html>
<html>

<head>
    <title><%- techBlog.pageTitle %></title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- build:css styles/tech-blog-style.css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/blog.css">
    <!-- endbuild -->

    <!-- build:js scripts/tech-blog-vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <!-- endbuild -->

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" >
</head>

<body>
  <%= partials.navbar %>
  <div class="container">
    <% _.forEach(techBlog.entries, function(entry) { %>
    <div class="row margin-top-20">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 entry">
        <div class="row">
          <div class="col-xs-8">
            <h3> <%- entry.title %> </h3>
          </div>
          <div class="col-xs-4 text-right">
            <h3> <%- entry.date %> </h3>
          </div>
        </div>
        <div class="body">
          <%= partials[entry.body] %>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</body>

</html>
